In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from pprint import pprint
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import RandomizedSearchCV
import pickle
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head()

       Status    Classe    Sexo  Idade  Passagem  Embarque
0  Sobreviveu  Terceira  mulher    1.0        19  Cherboug
1  Sobreviveu  Terceira  mulher    1.0        19  Cherboug
2  Sobreviveu  Terceira  mulher    1.0        16  Cherboug
3  Sobreviveu   Segunda  mulher    3.0        42  Cherboug
4  Sobreviveu  Terceira  mulher    4.0        13  Cherboug

In [20]:
df.groupby(['Status']).count()

            Classe  Sexo  Idade  Passagem  Embarque
Status
Morreu         549   549    549       549       549
Sobreviveu     342   342    342       342       342

In [21]:
df.groupby(['Classe'])['Status'].count()

Classe
Primeira    216
Segunda     184
Terceira    491
Name: Status, dtype: int64

In [22]:
df.groupby(['Classe', 'Status'])['Status'].count()

Classe    Status
Primeira  Morreu         80
          Sobreviveu    136
Segunda   Morreu         97
          Sobreviveu     87
Terceira  Morreu        372
          Sobreviveu    119
Name: Status, dtype: int64

In [23]:
df.groupby(['Sexo', 'Status'])['Status'].count()

Sexo    Status
homem   Morreu        468
        Sobreviveu    109
mulher  Morreu         81
        Sobreviveu    233
Name: Status, dtype: int64