In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from pprint import pprint
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import RandomizedSearchCV
import pickle
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
df = pd.read_csv("dataset.csv")

In [24]:
df.head(40)

        Status    Classe    Sexo  Idade  Passagem  Embarque
0   Sobreviveu  Terceira  mulher    1.0        19  Cherboug
1   Sobreviveu  Terceira  mulher    1.0        19  Cherboug
2   Sobreviveu  Terceira  mulher    1.0        16  Cherboug
3   Sobreviveu   Segunda  mulher    3.0        42  Cherboug
4   Sobreviveu  Terceira  mulher    4.0        13  Cherboug
5   Sobreviveu  Terceira  mulher    5.0        19  Cherboug
6       Morreu  Terceira  mulher    9.0        15  Cherboug
7   Sobreviveu  Terceira  mulher   13.0         7  Cherboug
8   Sobreviveu  Terceira  mulher   14.0        11  Cherboug
9   Sobreviveu   Segunda  mulher   14.0        30  Cherboug
10      Morreu  Terceira  mulher   14.5        14  Cherboug
11  Sobreviveu  Terceira  mulher   15.0         7  Cherboug
12  Sobreviveu  Terceira  mulher   15.0        14  Cherboug
13  Sobreviveu  Primeira  mulher   16.0        58  Cherboug
14  Sobreviveu   Segunda  mulher   17.0        12  Cherboug
15      Morreu  Terceira  mulher   17.0        14  Cherboug
16  Sobreviveu  Primeira  mulher   17.0       109  Cherboug
17      Morreu  Terceira  mulher   18.0        14  Cherboug
18  Sobreviveu  Primeira  mulher   18.0       228  Cherboug
19  Sobreviveu  Primeira  mulher   18.0       262  Cherboug
20  Sobreviveu  Primeira  mulher   19.0        91  Cherboug
21  Sobreviveu  Primeira  mulher   21.0       262  Cherboug
22  Sobreviveu   Segunda  mulher   22.0        42  Cherboug
23  Sobreviveu  Primeira  mulher   22.0        50  Cherboug
24  Sobreviveu   Segunda  mulher   23.0        14  Cherboug
25  Sobreviveu  Primeira  mulher   23.0       113  Cherboug
26  Sobreviveu  Terceira  mulher   24.0        19  Cherboug
27  Sobreviveu  Primeira  mulher   24.0        50  Cherboug
28  Sobreviveu  Primeira  mulher   24.0        69  Cherboug
29  Sobreviveu  Primeira  mulher   24.0        69  Cherboug
30  Sobreviveu  Primeira  mulher   24.0        83  Cherboug
31  Sobreviveu   Segunda  mulher   27.0        14  Cherboug
32  Sobreviveu   Segunda  mulher   28.0        24  Cherboug
33  Sobreviveu  Terceira  mulher   29.0        15  Cherboug
34  Sobreviveu  Primeira  mulher   30.0        31  Cherboug
35  Sobreviveu  Primeira  mulher   30.0        57  Cherboug
36  Sobreviveu  Primeira  mulher   30.0       106  Cherboug
37  Sobreviveu  Primeira  mulher   31.0       113  Cherboug
38  Sobreviveu  Primeira  mulher   32.0        76  Cherboug
39  Sobreviveu  Primeira  mulher   35.0       512  Cherboug

In [20]:
df.groupby(['Status']).count()

            Classe  Sexo  Idade  Passagem  Embarque
Status
Morreu         549   549    549       549       549
Sobreviveu     342   342    342       342       342

In [21]:
df.groupby(['Classe'])['Status'].count()

Classe
Primeira    216
Segunda     184
Terceira    491
Name: Status, dtype: int64

In [22]:
df.groupby(['Classe', 'Status'])['Status'].count()

Classe    Status
Primeira  Morreu         80
          Sobreviveu    136
Segunda   Morreu         97
          Sobreviveu     87
Terceira  Morreu        372
          Sobreviveu    119
Name: Status, dtype: int64

In [23]:
df.groupby(['Sexo', 'Status'])['Status'].count()

Sexo    Status
homem   Morreu        468
        Sobreviveu    109
mulher  Morreu         81
        Sobreviveu    233
Name: Status, dtype: int64

In [25]:
import streamlit as st

ModuleNotFoundError: No module named 'streamlit'

In [33]:
df.Passagem.

AttributeError: Can only use .str accessor with string values!